# Frontend configuration
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:4001/graphql
NODE_ENV=development

# BFF Integration Token (Generate this in Strapi Admin -> Settings -> API Tokens)
MANAGER_TOKEN_INTEGRATION=your_generated_token_here

# Strapi Secrets
APP_KEYS=9/1YjJgS5PHj6P2lbC0HJQ==,iHrtIADhQmov24kA22W7QA==,RsAAi0obiekvVZr4d+8jcw==,P2nQXo/1otgr/PL5zrAKbA==
API_TOKEN_SALT=kyqXQxehAM8nvaC1K1AI0g==
ADMIN_JWT_SECRET=NR1cv94ApF/gs4s9p73Mjw==
TRANSFER_TOKEN_SALT=lJHscSleFPoJ08Z/erlKlg==
JWT_SECRET=Frm5zWNoFyQXUtsxjZi4Yw==

# Database Configuration
MYSQL_ROOT_PASSWORD=f1r3wall@123
MYSQL_DATABASE=hub-community-db
MYSQL_USER=root
MYSQL_PASSWORD=f1r3wall@123
DATABASE_HOST=hub-db
DATABASE_PORT=3306

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_ADMIN_PASSWORD=
